/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header, footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ffA500;
 
}

section {
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  

}

#left {
  width: 33.333%;
  background:#30948d;
  float: left;
}

#middle {
  width: 33.333%;
  background:#9e1212;
  float: left;
}

#right {
  width: 33.333%;
  background:#30948d;
  float: left;
}

#full {
  color: #white;
  background: #394549;
  overflow: auto;
  clear: both;
}

#division {
  color:white;
  padding: 20px;
  margin-top: 20px;
  background:#6ea3da;

}

aside {
  background: #a6b747;
  float: left;
  color:white;
  width: 300px;
  height:150px;
  padding: 20px;
  margin: 0 0 0 20px;
  border: 1px solid white;

  
}

footer {
  
}

.box,.box2, .box3, .box1 {
  background: yellowgreen;
  height: 80px;
  width: 80px;
}

.box1 {
  top: 20px;
}
.box2 {
 left: 40px;
}
.box3 {
  bottom: 5px;
  right: 5px;
}